[2017-12-06 12:06] oarashi opened #1 "Usage with single component issue"
Hi! Thanks for library!
Can you please provide an example of usage with adal only one component (not the whole application).
I have only one component (on one url) where it is required an authorization with azure.
Thanks!
And thanks one more time for your library!

[2017-12-06 14:01] salvoravida commented on #1
Hi!
Do you mean integration with react-router on only one Route?

[2017-12-06 14:13] oarashi commented on #1
@salvoravida Yes (and I had to use hashRouter from React router v4). But I was thinking about wrapping with runWithAdal not the application itself, but only specific component. E.g. on component didMount manipulate with adal and then decide what to do - show component if user authorized/show component with error message/ redirect to login.
Thanks!

[2017-12-10 13:59] DadvDadv opened #2 "Typescript"
Hi,
Do you have any plan to convert your project to typescript or to provide a type definition ?

[2017-12-13 04:44] missgrizzly opened #3 "Question: using adalApiFetch with an api?"
I was wondering if you could elaborate on this part of the readme?

Like with a sample?  Specifically with an api behind it would be amazingly helpful

[2017-12-26 15:19] saostad commented on #3
+1

[2017-12-26 15:40] saostad opened #4 "Sorry, but we’re having trouble signing you in. We received a bad request."
After I input user (hotmail account) information I got this error:

here is my config file:
[code]

[2017-12-26 16:35] saostad commented on #4
I follow this instruction to create a tenant and now I can login:

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-howto-tenant#use-an-msa-azure-subscription

but I still don't know what is endpoint object?
in App registeration section I have 7 endpoint. what should I do next?
can you please provide an instruction of how to get diffrent part of config file?
and aft

[2018-01-02 15:49] PhilDore11 opened #5 "What is 'store'?"
Hi,

I can't seem to figure out what `import { store } from './store';` refers to.

Please help

[2018-01-07 22:07] uros-r commented on #3
+1

[2018-01-11 03:52] andrralv commented on #5
This repo uses Redux: https://redux.js.org/docs/basics/Store.html

[2018-01-11 03:55] andrralv commented on #3
` export function adalFetch(authContext, resourceGuiId, fetch, url, options) { `

The adalFetch function takes a fetch object, you can choose to use any npm package like Node-fetch or Axios and pass it on.

[2018-01-16 14:43] #5 closed

[2018-01-16 14:50] salvoravida commented on #3
without ADAL you will fetch normally:
[code]

if your domain is under ADAL then ..

[code]

[2018-01-16 14:50] #3 closed

[2018-01-16 14:52] salvoravida commented on #4
endpoint.api is the GUID of your azure web api app that is under Active directory

[2018-01-16 14:52] #4 closed

[2018-01-16 14:53] salvoravida commented on #2
currently no. sorry.

[2018-01-16 14:53] #2 closed

[2018-01-22 15:34] hannehanen opened #6 "Usage of adalApiFetch"
Hello. excuse me for beeing a bit of a beginner. But how do i use adalApiFetch to send my requests?
I for example use Axios to send http requests. An example would be lovely. Thanks.

// how to use the constant below..

export const adalApiFetch = (fetch, url, options) =>
  adalFetch(authContext, adalConfig.endpoints.api, fetch, url, options);
use adalApiFetch with your favorite "fetch" in your ap

[2018-01-23 11:02] salvoravida commented on #6
https://github.com/salvoravida/react-adal/issues/3

[2018-01-23 11:02] #6 closed

[2018-01-23 22:05] argrithmag commented on #1
Was there a example of this made?  I actually have the "opposite" problem.  I'd like a landing page that doesn't have any auth on it (allows anonymous), but if they either go to any other part of the app, or click on a "login" button on that landing page, then it directs them to the login.

[2018-01-24 04:48] exztinct01 opened #7 "How to perform signout?"
how do I perform signout using this library?

[2018-01-24 12:36] argrithmag commented on #7
AuthenticationContext.logOut();

[2018-01-25 11:41] #7 closed

[2018-01-25 12:14] salvoravida commented on #1
react router integration for partial web app AD support is a to do feature...

[2018-01-31 13:35] Odonno commented on #2
I started the type definition in PR #9

[2018-02-19 16:22] sealight opened #10 "How to specify the"
On adalConfig.js who can we specify an endpoint different from 'api'? (e.g. 'http://localhost:5000/api/')

If I do this:
export const adalConfig = {
    tenant: '...',
    clientId: '...',
    endpoints: {
        'http://localhost:5000/api/': '7de3697b-224e-4391-b87c-11c818c38104',
    },
   cacheLocation: 'localStorage',
};

I get this error on adalApiFetch:
Uncaught (in promise) {message: "reso

[2018-02-19 16:29] salvoravida commented on #10
?!?! i think you are a little bit confused:

endpoints are the GUID of azure Active Directory web app that host your api.

for example if you have 2 api web-endpoint

https://myapi1.azurewebsites.net has a GUID 'XXXXXXX......'
https://myapi2.azurewebsites.net has a GUID 'YYYYYYY......'

Here is adalConfig.js

[code]

[2018-02-19 16:29] #10 closed

[2018-02-20 10:20] sealightPT commented on #10
Thank you!
I thought "endpoints" was a dictionary (key, value) of (baseUrl, webAppGuid) but it isn't.

Your example of
`export const adalApi1Fetch = (fetch, url, options) =>
  adalFetch(authContext, adalConfig.endpoints.myapi1, fetch, url, options);`

made it very clear of how it is being used!
Thanks!

[2018-03-02 10:22] vladavip88 opened #11 "Dependencies - adal"
Hey, I really like your work, but your script depends on **adal**, so it would be nice to add **adal** as dependencies, not to include it directly. Also, it would be cool to add 'logOut' function.

[2018-03-02 11:29] matthew-matvei commented on #11
I believe you can just use the underlying authentication context and do `authContext.logout()`, no?

[2018-03-02 11:57] vladavip88 commented on #11
Ah, yes, cool, works perfectly, thanks! ;)

[2018-03-05 14:27] matthew-matvei opened #12 "How best to handle errors with adalFetch"
Trying to use `adalFetch`, I see that the underlying `adalGetToken` it calls will reject when it fails to retrieve a token for the pointed-to resource?

Is it simply to `authContext.login()` on the next line? Trying to do this, I seem to get a no-op (no redirection, prompt etc.) when calling that login method. It would indicate to me that the `authContext` thinks I'm logged in (cached user?), desp

[2018-03-06 22:19] Odonno opened #13 "Articles"
I wrote a new article on medium about my recent experience on Azure AD + React + ASP.NET Core.
I hope you will enjoy it.

Here is the link: https://medium.com/@dbottiau/a-memo-on-how-to-implement-azure-ad-authentication-using-react-and-net-core-2-0-3fe9bfdf9f36

And thanks for hte lib by the way. ;)

[2018-04-04 14:36] AFSDevGuy commented on #11
Love it! Agree with the dependency issue, though. Maybe I'll fork and send you a pull request...

Thanks!

[2018-04-04 14:46] salvoravida commented on #11
Hi!
until 1.0.16 adal.js has a bug not yet merged so local patched adal.js was required.
https://github.com/AzureAD/azure-activedirectory-library-for-js/pull/674

Anyway currently Microsoft has a single lib for adal and adal-angular ...
so i think it's better to have local adal.js until MS decide to extract adal.js from adal-angular ...

I'm releasing a new version with adal updated to 1.0.17 and

[2018-04-12 23:31] sixty-four-bit opened #14 "Arrow function is not working in with IE11"
Can you please transpile it before putting it to npm.
its not working with IE11

[2018-04-16 06:46] ydogandjiev opened #15 "The options on adalFetch should be optional to match underlying fetch API"
When I converted my existing fetch calls to adalFetch most of them didn't work because I wasn't specifying any options:
![image](https://user-images.githubusercontent.com/3357245/38793718-355c972c-4107-11e8-8998-c67b627caeaf.png)

Fixing this would be pretty easy:
[code]

[2018-04-16 19:11] rockholla opened #17 "`localLoginUrl` isn't supported"
[Noted in the src comments](https://github.com/salvoravida/react-adal/blob/master/src/adal.js#L33) but not actually supported.

[2018-04-24 12:09] tarim opened #18 "How to handle browser refresh issue"
Hi there,

I used react-adal in my project. It works well, but I have an issue with the refreshing browser. If user press F5 to refresh or reload the page, it will do re-authentication, and back to home page. How do we avoid this issue?

Thanks,

[2018-04-25 01:01] salvoravida commented on #1
done!

[2018-04-25 01:01] #1 closed

[2018-04-25 01:02] salvoravida commented on #11
1.0.17 released updated on react-adal 0.4.17

[2018-04-25 01:02] #11 closed

[2018-04-25 01:03] salvoravida commented on #14
done

[2018-04-25 01:03] #14 closed

[2018-04-25 01:04] salvoravida commented on #15
done thanks

[2018-04-25 01:04] #15 closed

[2018-04-25 01:04] salvoravida commented on #13
hi! thanks!
maybe you want to update your article with new withAdalLogin HOC.

[2018-04-25 01:05] salvoravida commented on #18
are you using hash routing? you should switch off hash routing with adal

[2018-04-25 01:13] salvoravida commented on #17
you should see on official adal.js page
https://github.com/AzureAD/azure-activedirectory-library-for-js

[2018-04-25 01:13] #17 closed

[2018-04-25 01:14] salvoravida commented on #12
adalFetch.catch(error=> if error.msg==="login required" ....)

[2018-04-25 01:14] #12 closed

[2018-04-25 12:02] Odonno commented on #13
@salvoravida What does it do?

[2018-04-25 14:10] ktimothy opened #19 "Consider splitting lib/adal.js to different files?"
Hi there! The file with current size of 1906 lines looks a little bit weird for me, it is hard to read and understand its structure.

[2018-04-25 19:32] rjbez17 opened #20 "Redirect loop if tenant is left to 'common'"
While using the library we can easily get it working if you provide the tenant ID or our active directory. However, we are trying to open this up to other organizations and removing the tenant parameter (leaving it as 'common') causes login redirect loops. There doesn't seem to be any errors in the sessionStorage indicating there was a login failure.

This works:

    const adal_config = {

[2018-04-25 22:01] salvoravida commented on #20
react-adal just call authContext.login() that is from official adal.js

so try to call it without react-adal active, (index.js) and see how many redirect you have.

may be tenant is a mandatory field, cannot be "common"

see more on adal.js here https://github.com/AzureAD/azure-activedirectory-library-for-js

[2018-04-25 22:01] #20 closed

[2018-04-25 22:02] salvoravida commented on #19
adal.js is just embedded from official release https://github.com/AzureAD/azure-activedirectory-library-for-js

[2018-04-25 22:02] #19 closed

[2018-04-25 22:06] salvoravida commented on #13
withAdalLogin HOC
- support login only on a Page/Route Component
- change DO_NOT_LOGIN to true on index.js to stop login on index.js

adalConfig.js
[code]

Example :
[code]

[2018-05-03 09:00] #13 closed

[2018-05-03 12:19] tarim commented on #18
@salvoravida ,

Thank you for your reply, can you tell me a little bit more specific, please?

Thank you,

Here is my route

[code]

[2018-05-03 16:03] atsepkov opened #21 "Is authentication done by the frontend?"
Thanks for the library, it's much more convenient for ADFS integration than SAML libraries I've tried. I'm concerned about security, however.

Added a couple `console.log` statements around `runWithAdal` logic and noticed that it fires in the frontend. So is it the frontend that verifies user authentication? Wouldn't that be susceptible to user tampering?

[2018-05-03 16:24] salvoravida commented on #21
So is it the frontend that verifies user authentication?

what do you mean?

Are you sure you know how JWT Token works?

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-authentication-scenarios#single-page-application-spa

[2018-05-03 17:51] tarim opened #22 "Unexpected token: name (React)"
Hi There,

I just updated latest react-adal. After update, when I run deploy, I got error message. Here are details

 `SyntaxError: Unexpected token: name (React) [./~/react-adal/lib/react-adal.js:10,0]`

any suggestion please?

thanks,

[2018-05-03 19:40] saostad opened #23 "Crash the app in IE11"
Hi,
When I load he page in IE 11, the crashed and in console I got this message:

[2018-05-03 20:32] salvoravida commented on #22
Which browser? Do you have React import in Your Project?

[2018-05-09 13:28] levalencia opened #24 "Questions"
Hello

1. Whats the difference between the 2 implementations, its not easy to understand.
2. Isnt the tenantid and clientid usually different? being client id the app registration id and tenant id the active directory id?

Thanks

[2018-05-09 17:21] saostad commented on #23
it seams problem related to another component.
Sorry!

[2018-05-10 13:57] salvoravida commented on #24
please refer to official Azure Active directory page.

react-adal is just a wrapper for use it with react apps

[2018-05-11 07:02] levalencia commented on #24
I google ADAL HOC and found nothing, in the readme I believe it should be clearer about the difference in the 2 implementations, BTW I already used it and it works perfect, but I just want to know what HOC means

[2018-05-11 07:23] salvoravida commented on #24
https://reactjs.org/docs/higher-order-components.html

[2018-05-14 21:07] levalencia opened #26 "Question"
Hello

I see you posted a comment here:
https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/481

I do  have a question though,  I have a webapp which is 100% UI only, no business logic, and I used your component to login and it works 100% fine.

However in my webapp at some point I will need to call a REST API, the REST API will be hosted in a different url in Azure, so I create

[2018-05-15 16:13] #21 closed

[2018-05-16 03:15] imsam67 commented on #13
I'm trying to understand this and use it in my ASP.NET Core 2.1 app with ReactJs frontend.

I'm using React Router and my `App.jsx` looks like this:
[code]
My whole app requires authentication. How would I use the `withAdalLoginApi()`? I'm confused about where to use it. Am I doing what you show in every protected component or in the App.jsx?

[2018-05-16 03:21] imsam67 commented on #13
Sorry about questions on what you may find rudimentary but I'm trying to learn and understand this as I implement it.

Also, after I login through Azure AD B2C page and get redirected to my app, this is what I'm seeing:
![capture](https://user-images.githubusercontent.com/15844030/40094653-e6c98108-588d-11e8-92fc-e1f386e5aa45.PNG)

I'd like to see http://localhost:49065 or just https://myapp.com i

[2018-05-16 19:38] tarim commented on #22
All browsers are same. It happened when I upgraded it to the latest version.

[2018-05-17 08:36] levalencia opened #27 "adal api request sample"
It worked perfect for my reactjs authentication, however I also have external custom apis that I need to call from within react, I guess the endpoints array is to list the app registration is from azure portal. Thats easy, done.

However, can you post an example of how to call a custom api?

[2018-05-23 13:43] dnddbo opened #28 "Page within Iframe"
I got this to work in a standalone react app but what if the react page is hosted in an iframe on a different site?
Can this work using the same iframe approach?

Thanks!

[2018-05-23 15:56] salvoravida commented on #28
no! because adal login redirect and #hash authentication may corrupt the main window document/app.

[2018-05-23 16:29] dnddbo commented on #28
Thank you for the answer! What about using the popUp: true setting then? Can you suggest any other approach? The react app has to be loaded inside an iframe cannot change that.

[2018-05-23 23:21] salvoravida commented on #28
i think that you cannot use it on an iframe, anyway you should ask on offical adal.js page
https://github.com/AzureAD/azure-activedirectory-library-for-js

[2018-05-23 23:21] #28 closed

[2018-05-23 23:23] salvoravida commented on #27
i do not understand,
do you mean you have some other apis hosted not on active directory server?

if so you can you standard fetch or axios you do not need adal wrap!

[2018-05-23 23:26] salvoravida commented on #26
adalConfig.js

[code]
Remeber to grant permission for clientId to apiServer1 and apiServer2 apps on Azure Cloud!

that's all!

[2018-05-23 23:27] salvoravida commented on #22
can you share your code?

[2018-05-23 23:29] salvoravida commented on #18
what's Auth?
need more code ....

[2018-05-24 07:27] #26 closed

[2018-05-24 07:27] #27 closed

[2018-05-29 13:54] GroFin commented on #27
Hi @salvoravida  I too have the same question.

So my app is authorised within Azure AD however I wish to access the Microsoft Graph API's as well as the PowerBI API's.

Would I need to create 2 separate functions to call them such as this:

[code]

[2018-06-01 14:00] jfbloom22 opened #29 "Unable to login: response_type 'token' is not enabled for the application"
I have tried setting up my Azure app as a Web/API as well as Native, but I am getting: `response_type 'token' is not enabled for the application`
 any suggestions?

[2018-06-01 15:45] salvoravida commented on #29
you should ask on official adal.js home
https://github.com/AzureAD/azure-activedirectory-library-for-js

react-adal it's just a wrapper for ReactJs.

[2018-06-01 15:45] #29 closed

[2018-06-01 18:55] jfbloom22 commented on #29
thx, figured it out.  Needed to setup:  After registration is completed, open Manifest file in Azure AD Portal, and set "oauth2AllowImplicitFlow:true". Got the plugin working.  Thanks for a great plugin!

[2018-06-03 14:42] salvoravida commented on #29
you are welcome!

[2018-06-14 15:55] jssoriao commented on #7
sorry, you mean
import { authContext } from './adalConfig';

handleLogout() {
    authContext.logOut();
}
?
or get the AuthenticationContext from 'react-adal' again ?

[2018-06-17 01:15] TallOrderDev commented on #27
@GroFin most library maintainers do not watch closed tickets. If this is an issue you might want to open a new ticket and then link to this one. I know if I see a comment on an issue with a closed icon next to it, I just dismiss the notification.

[2018-06-17 14:22] TallOrderDev opened #31 "API GUID Endpoint"
First, great work on this, super simple and straight forward! Thanks!

Dumb question, first time really using Azure, so I'm still learning it's ins and outs.

Is an API's endpoint GUID the same as it's TenantId, once it's been setup in AD as a registered app?

Thanks in advance!

[2018-06-18 06:56] GroFin opened #32 "adal api request sample to multiple end points."
Hi @salvoravida

So my app is authorised within Azure AD however I wish to access the Microsoft Graph API's as well as the PowerBI API's.

Would I need to create 2 separate functions to call them such as this:

[code]

As with PowerBi, my main task is just to get the bearer token, is there a way to just get the adal token?

Thanks

[2018-06-18 08:12] salvoravida commented on #32
right. the token is different for any endpoint. so you have to use a wrapper for each api endpoint.

[2018-06-18 08:12] #32 closed

[2018-06-18 08:13] salvoravida commented on #31
no. the api endpoint guid is the guid of azzure app that host the api app service.

anyway you could get more support on official adal.js page
https://github.com/AzureAD/azure-activedirectory-library-for-js

react-adal is only a React wrapper for the official lib adal.js

[2018-06-18 08:13] #31 closed

[2018-06-27 14:00] cadichris opened #33 "Avoid the infinite loop when access_denied"
Hi there,

I'm facing the _infinite loop_ issue that are reported on adal repo (for instance [#635](https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/635) & [#463](https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/463)), but with React.
Adal repo is providing guidelines on how to avoid it, but these guidelines [are tied to AngularJS](https://github.com/Azu

[2018-06-27 14:08] CadiChris commented on #33
I've also tried to set `redirectUri` to a URI that does **not** require authentication: I still get the infinite loop.

For instance

[code]

With this setup, Azure properly redirects to `http://myapp/authentication-result/#error=access_denied`, but again a refresh occurs and brings me back to `http://myapp/`, that asks for authentication...and there goes infinite loop

[2018-06-27 14:58] levalencia opened #34 "Access to roles/groups"
How can I access roles or groups information ? Lets suppose I modified the manifest correctly to have groups or roles assigned to each user.

How can I access that information from react app to render different menu?

[2018-06-27 15:05] salvoravida commented on #33
if (msg === 'login required') {
              authContext.login();
            } else {
              this.setState({ error });
            }

if the msg is access_denied then the error component should render.

could you please check the  console.log(error); that you receive?

[2018-06-28 13:54] CadiChris commented on #33
The error I have is `{message: "User login is required", msg: "login required"}`.

I've tried to understand precisely what's happening, step by step.
The following message is _kind of_ intended as [rubber duck debugging](https://en.wikipedia.org/wiki/Rubber_duck_debugging)
Here is the result of the investigation :

- I browse to `http://myapp/`
- `runWithAdal` is executed
  - it calls `authContext

[2018-06-28 15:42] MLWDev commented on #34
This would be useful. Is there an access token returned that can be used to call other endpoints?

[2018-06-28 15:46] CadiChris commented on #33
I've come up with a working solution.
I'm not entirely sure of how it fits into the whole adal process though.

What I thought of is changing `withAdalLogin` so that it does not `authContext.login()` if there's an existing `loggingError`.

With some code, related to [withAdalLogin](https://github.com/salvoravida/react-adal/blob/b1862045d491d8779877f54224b55ba9ba97c02b/src/react-adal.js#L60)
[code]

[2018-06-28 22:44] salvoravida commented on #33
@cadichris yes i agree with your workaround.
the problem is with official adal.js

AuthenticationContext.prototype.acquireToken

that call -> callback('User login is required', null, 'login required');  if (!this.user)
without check that previous login failed.

[2018-06-29 08:15] CadiChris commented on #33
Thanks @salvoravida.
- Do you think the workaround is worth a PR here ?
- I'll open an issue on adal repo, to discuss this design, and see what their opinion is. _[EDIT]: it's the issue below._

[2018-07-10 21:02] dggsax opened #35 "Expecting window.local === window.parent limits use of this package"
Thanks for the wrapper! One issue I've found is the extremely limiting requirement in which you've required under `runWithAdal()` that `window === window.parent`. For my use case I am trying to develop a VSTS Extension that lives within a website, so of course my code never passes this clause. Perhaps it might be helpful to expand the package so that users could either specify a regex for the root

[2018-07-16 23:23] Alfetta159 commented on #34
I would think that you would have to access the Graph API separately.

[2018-07-17 06:24] levalencia commented on #34
according to this:
https://stackoverflow.com/questions/40554525/role-group-based-authorization-using-adal-js-and-asp-net-web-api

we only need to edit the manifest to add the roles, the questions is how to get that information in the client app?

[2018-07-23 08:07] jeffaknine opened #36 "Logout/Signout example"
Hi, first of all thanks for the library, it's working great. I was wondering if anyone could provide an example on how to perform a sign out ?
Thanks

[2018-07-23 10:55] salvoravida commented on #36
authContext.logOut()

[2018-07-23 10:55] #36 closed

[2018-07-23 14:41] DaveVoyles commented on #34
I'm looking for the exact same thing

[2018-07-26 04:52] markau commented on #34
The roles should be returned in the access token. Does this work by any chance?

`authContext.getCachedUser().roles;`

[2018-07-26 05:51] levalencia commented on #34
has anyone tested this? this is really important

[2018-08-21 10:55] theGlenn opened #37 "ID_TOKEN response_type throws invalid request"
Version **0.4.18** uses only `id_token` for `response_type` and it redirect to `invalid_request` error page.
Using `response_type=id_token` works.

![Imgur](https://i.imgur.com/KLBp3M2.png)

[2018-08-30 07:16] BjornVanWettere opened #38 "Single Component not rendering when using withAdalLoginApi"
Hi

I've successfully used react-adal for my whole application before. However, this time around I only want the security context around 1 certain object (an action bar, the actions which are allowed are based on the user's security context). This is my code shortened:
[code]

[code]

However, the code is never hitting the mount-method of this ActionBar. What am I doing wrong in my 'page'-componen

[2018-09-13 20:32] salvoravida commented on #37
Could you explain the issue better?

[2018-09-13 20:33] salvoravida commented on #35
adal.js use iframes for silent login so if we do not put that condition, you will run React App on iframe too....

[2018-09-13 20:33] #35 closed

[2018-09-13 20:34] salvoravida commented on #34
hi, this is elated to adal.js you could access to authContext documented on offical adal.js page.
not related to this react wrapper.

[2018-09-13 20:34] #34 closed

[2018-09-13 20:35] salvoravida commented on #22
closed. feel free to re-open if needed

[2018-09-13 20:35] #22 closed

[2018-09-13 20:38] salvoravida commented on #38
render() {
        const actionBarWithAdal = withAdalLoginApi(ActionBar, () => <div>Loading</div>,(error) => <div>Error</div>);
return <div>{actionBarWithAdal}</div>
    }

What?!! ?!?!

const ActionBarWithAdal = withAdalLoginApi(ActionBar, () => <div>Loading</div>,(error) =>

and out of class!!!!

[2018-09-13 20:38] #38 closed

[2018-09-13 20:39] #18 closed

[2018-09-14 13:41] BjornVanWettere commented on #38
I have absolutely no idea what you are trying to tell me. Can you clarify with a real example? Or indicate where I am doing something wrong.

Maybe it's something I am trying, that is simply not supported. Because I don't have a real Route. It's just a component which I want to wrap in security.

[2018-09-28 04:52] ankitbko opened #39 "Support MFA"
`withAdalLoginApi` flow fails when account is configured for MFA. Following error message is thrown -
**AADSTS50079: The user is required to use multi-factor authentication.**

Based on [this](https://stackoverflow.com/a/46007643), to perform MFA, either ` acquireTokenPopup()` or `acquireTokenRedirect()` must be called as `acquireToken()` is not an interactive flow.

[2018-10-30 14:05] surendrakoritala opened #41 "Regarding: Redirecting to null page after running it in IIS 8.0"
Hi,

I greatly appreciate for react-adal package. I added package in my react project and started using package to authenticate users with in the organization.  [url]/signin-oidc (url was localhost in dev environment and different for server) worked totally fine in localhost. but when the code was pushed to server that has IIS 8.0. It started giving me error message 'page does not exist'. Then i r

[2018-10-30 15:09] salvoravida commented on #41
are you sure you have correctly configurated iis for SPA application?
routing is client side so for every url IIS should return index.html

try search on google for it.
regards

[2018-10-31 17:53] adravi commented on #29
I was having the same problem. Thank you all.

[2018-11-05 02:03] surendrakoritala commented on #41
Hi, Yes it is correctly configured, we are using following web.config:
<configuration>
    <system.webServer>

        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="sendToNode">
                    <match url="/*" />
                    <action type="Rewrite" url="serv

[2018-11-07 23:30] rafaelgrilli92 opened #42 "Stay signed in option not showing"
I had a nodejs server serving the client side (React) only to deal with the authentication, but then I took the nodejs out and I started to use this library on the client side instead. The thing is... the "stay signed in" option isn't showing anymore. I set it up on the azure portal to allow it, but it's still not working.

Any recommendations?

**That's what I want:**
![image](https://user-images

[2018-11-10 18:08] RaySheikh opened #43 "Access to claims."
Hi, is there a way to get access to some of the user information claims after authentication?
Eg: I would like to know who is logged in and do a callback to my dB so I display the UI according to their role.

Than you

Ray

[2018-11-12 20:14] RaySheikh commented on #43
Making a call to graph api solved the issue.

[2018-11-12 20:14] #43 closed

[2018-11-12 20:18] RaySheikh opened #44 "Azure ad v1.0 vs 2.0"
Is there a way to tell if you authenticating against azure ad v1.0 or 2.0.?

[2018-11-12 22:33] salvoravida commented on #39
@ankitbko could you please confirm that this pr solved MFA?

[2018-11-13 19:40] lidermanrony opened #46 "Cannot recover from an old sid"
react-adal cannot recover from Errors re-obtaining sign-in tokens after leaving browser window open a few days.

This will only apply to application that enable sid in their AAD manifest (which is pretty rare).

Example error: Error AADSTS16002: Application requested a user session which does not exist. Trace ID: 057b129f-0717-489f-99fb-05ec121a3800 Correlation ID: cabaed52-02df-4e61-939f-4ba9151c

[2018-11-29 15:34] artem-bayandin commented on #44
Looking for the same Azure AD v2.0 endpoint connection/configuration.

[2018-12-04 20:57] jrichmond4 opened #47 "Redirecting to /null"
I have added this to a react TS project and it works for the most part but sometimes it get's into a redirect loop which switches between localhost:3000/null and localhost:3000#id_token={token} and then eventually lands on localhost:3000/null

Is there any reason this would be happening? Sometimes it causes 404 errors

[2018-12-15 01:50] salvoravida commented on #46
@lidermanrony feel free to re-open this issue if not works.

[2018-12-15 02:05] #46 closed

[2018-12-15 02:05] #39 closed

[2018-12-15 02:07] salvoravida commented on #37
@theGlenn closed. just re-open if needed.

[2018-12-15 02:07] #37 closed

[2018-12-15 02:08] salvoravida commented on #47
@jrichmond4 can you share code for testing?

[2018-12-15 02:09] salvoravida commented on #44
it's  work in progress ... stay tuned.

[2018-12-15 02:10] salvoravida commented on #42
@rafaelgrilli92 https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/272

[2018-12-15 02:16] #42 closed

[2018-12-17 12:20] mrcnw commented on #47
+1 have the same. Sometimes bearer is null after reload it is ok.

![image](https://user-images.githubusercontent.com/32802948/50086807-7d7a5180-01fe-11e9-9a47-3853df081c2e.png)

[2018-12-18 05:18] Jonwheeler commented on #47
+1 I too have been experiencing this issue. Happy to try and help find a fix if you have any pointers on where to start looking for the issue.

Thanks

[2018-12-18 08:31] salvoravida commented on #47
@mrcnw @Jonwheeler @jrichmond4
can you share please a poc app on https://codesandbox.io  with this issue?

[2018-12-20 11:53] kouroshp opened #48 "Why are we restricting when to allow redirects?"
I ran into an issue where the login flow needed to redirect to allow our app to access another API, this library prevented this redirect from happening and just errored out. Why not always allow the redirect to happen if the token is not successfully acquired? Is there any reason we check for specific status codes?
<img width="1543" alt="redacted" src="https://user-images.githubusercontent.com/458

[2019-01-18 13:56] MarcoHuib commented on #47
I also experience this problem. I have the feeling it has something to do with Firefox? I don't see this when i'm using Chrome. 🤔

![image](https://user-images.githubusercontent.com/15868417/51464304-8ca47000-1d65-11e9-88b0-2f131b6ede6b.png)

[2019-01-31 16:04] salvoravida commented on #48
@kouroshp can you share error code ?

[2019-01-31 16:43] vincerivera opened #50 "adalFetch Returns 401 with POST"
I'm trying to send a POST request to an API that is hosted in Azure and is authenticated through Azure Active Directory. I'm using React with [React-Adal](https://github.com/salvoravida/react-adal) to send my requests. I configured react-adal using the GitHub repo and this [tutorial](https://itnext.io/a-memo-on-how-to-implement-azure-ad-authentication-using-react-and-net-core-2-0-3fe9bfdf9f36) to

[2019-02-03 15:18] mrcnw opened #51 "react-adal + axios"
How to combine adalFetch with axios?

[2019-02-07 11:54] luminescent opened #52 "Question: multiple APIs with multiple client IDs"
Hello

My application needs two completely different tokens, for accessing different APIs, and each of them require a different client ID (I cannot change the permissions such that the client ID is the same).

How could I configure for this situation?

From what I have seen, the `ApplicationContext` is a singleton so we would only ever allow one global config, even when I create two instances of i

[2019-02-07 13:20] salvoravida commented on #52
you should be able to create 2 instance of it on 2 adalconfi1 and adalconfig2.js

export const authContext1 = new AuthenticationContext(adalConfig1);
export const adalApiFetch1 = (fetch, url, options) =>
  adalFetch(authContext1, adalConfig1.endpoints.api, fetch, url, options);

export const authContext2= new AuthenticationContext(adalConfig2);
export const adalApiFetch2 = (fetch, url, options) =>

[2019-02-07 13:28] salvoravida commented on #52
i think that you cannot use 2 different ClientID from the same APP origin domain, but i need more investigation about it. i will let you know

[2019-02-07 13:43] luminescent commented on #52
Yes, this is what I have tried, however, when creating the 2nd one, you'll
see that internally it uses the `adalConfig1`. So basically you cannot have
a different instance with a different config.

On Thu, 7 Feb 2019, 13:20 Salvatore Ravidà <notifications@github.com wrote:

[2019-02-07 14:04] salvoravida commented on #52
hum i thin that adal.js official cannot use 2 clientID at same time.

You should have 1 tenant and clientID (appID) and multiple endpoint api(servers)

so you have to get full Azure right on both endpoints apis with the same ClientID.

[2019-02-07 14:48] luminescent commented on #52
Sadly that is outside of my control, and I need different clientIds and different endpoints. So I cannot use that configuration with one clientId and multiple endpoints that you suggested.
I have looked through the code and I can see why it's not possible to have multiple clientIds, but thought I'd ask just in case.

[2019-02-07 15:03] luminescent commented on #52
I presume we could close this as not possible, unless you have a different idea?

[2019-02-08 11:48] luminescent commented on #52
Closing question as answer was given.

[2019-02-08 11:48] #52 closed

[2019-02-08 17:16] grachet commented on #50
same

[2019-02-09 00:15] Jonwheeler commented on #51
Its in the readme:

[code]

The variable fetch passed here could be any lib you want.

[code]

There are a number of other examples in the issue tracker if you search [axios](https://github.com/salvoravida/react-adal/issues?utf8=%E2%9C%93&q=axios)

[2019-02-11 13:30] newtonsheikh opened #53 "show a home page with login button"
i want my homepage/lading page to be some fancy page with login button, on click of this button i want to redirect to azure login page and upon successful login i want to go inside the main dash board.

i am not able to achive it as the callback function is not propery documented.

hwo to achieve this?

[2019-02-12 03:23] nivuhebs opened #54 "How to set oauth state value?"
In my application, i would have to pass few values in request and get the same value in response, which is usually done using state in Azure AD but when i use react-adal library, state value is not accepted as it is getting updated with GUID through code and it is not consider as configurable option.
So please let me the approach how would i be able to achieve this

[2019-02-13 21:08] twasono commented on #53
I think you can use `withAdalLoginApi HOC`

[2019-02-14 00:22] salvoravida commented on #53
withAdalLoginApi HOC
change DO_NOT_LOGIN to true on index.js to stop login on index.js

[code]

[2019-02-14 00:22] #53 closed

[2019-02-14 00:27] salvoravida commented on #27
yes you have to export one fetch wrapper for every endpoint

[2019-02-14 00:27] salvoravida commented on #51
@mrcnw  => @Jonwheeler thank you.

[2019-02-14 00:27] #51 closed

[2019-02-14 01:00] jordynniara opened #55 "Token is not refreshing"
If I leave my site open but idle for about an hour, I'm not longer able to make service requests and I'm given a 401 error. I have to refresh the page in order to get a "new" (looking at the local storage of dev tools the tokens are actually the same) token and resubmit my request.
To my understanding adal.js refreshes tokens silently in the background so if the cached token has expired it gets an

[2019-02-14 01:43] salvoravida commented on #55
you should use that renew token if needed.

export const adalApiFetch = (fetch, url, options) =>
  adalFetch(authContext, adalConfig.endpoints.api, fetch, url, options);

as described in readme.

[2019-02-14 01:43] #55 closed

[2019-02-14 01:44] salvoravida commented on #54
can you share an example code?

[2019-02-14 01:59] salvoravida commented on #50
you have to use axios in a "fetch" style
https://github.com/axios/axios#axiosurl-config

axios(url[, config])

adalDemoApiFetch(axios, url, options);

where options is

{ method:'post',
data: ....

}

[2019-02-14 01:59] #50 closed

[2019-02-14 02:00] salvoravida commented on #47
are you usingHash Routing?

[2019-02-14 02:00] salvoravida commented on #47
@mrcnw @Jonwheeler @jrichmond4 @MarcoHuib
feel free to reopen if you can share some code, otherwise i cannot replicate issue

[2019-02-14 02:00] #47 closed

[2019-02-14 02:40] Jonwheeler commented on #47
I can maybe try and put something up in the future. I just don’t have time right now.

I mitigated the issue by adding a route of /null that just redirects to the authenticated route. If I do get the redirect to /null error it simply attempts to authenticate again, get the token and works the second time. Kind of a hack but it’s a work around.

Thanks.

[2019-02-14 18:38] jordynniara commented on #55
I think I'm still misunderstanding something. Is the adalFetch the only way to get a renewed token when making api calls? What do you mean I should use that renew token if needed? Are you referring to the getCachedToken(). Could you possibly make the readme more clear about how the token and the adalFetch are all supposed to work. I've seen other issues taken out for adalFetch, maybe users could b

[2019-02-21 13:20] mikkark opened #56 "How to handle "interaction_required" error when bootstrapping application with "runWithAdal""
I bootstrap my application using "runWithAdal" just like in the instructions. I get an "interaction_required" error after modifying the Service Principal in AAD to contain more permissions. I do not get the consent screen after logging in, instead I get redirected to the application, which does not work at all.

Should I catch this error somewhere and do something about it? In the general ADAL ins

[2019-02-22 08:37] hsdhott commented on #44
Is there any update on this?

[2019-02-27 22:45] jordynniara opened #57 "adalFetch returns request and not response"
Is adalFetch just supposed to return a refreshed token that I then use to send a request or does it actually send the request. While trying to implement it I'm only receiving a promise of the request that is supposed to be sent, not the response. Looking at my network traffic it seems a call to my api is made but I'm getting a 204 response.
I'm using RxJs/ajax as my fetch object.
I've looked at ot

[2019-03-14 02:58] aromanarguello opened #58 "Refused to display<url> in a frame because it set 'X-Frame-Options' to 'deny'."
Hi have an SPA app built through CRA. My react app which is authenticated through `react-adal` library, which is amazing, thank you so much, has been receiving this message when I try to load my iframe inside this other app: Refused to display 'https://login.microsoftonline.com/<stuff> in a frame because it set 'X-Frame-Options' to 'deny'.

React:16.8.2
react-adal: 0.4.22

index.js:
[code]
exports

[2019-03-15 07:10] salvoravida commented on #58
your http server has set http response header X-Frame-Options to dany, so adal cannot work as it use iframes.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options

remove it, or allow 'https://login.microsoftonline.com/

[2019-03-15 07:10] #58 closed

[2019-04-04 08:25] panuhorsmalahti commented on #33
My workaround (without forking react-adal or adal) is like this:

[code]

With this:
* If user is not logged in at all, page is redirected to Azure login
* If user is logged in to Azure but doesn't have access to this app, access denied page is displayed (with log out button)
* If user is logged in and has access to the app, normal application is rendered

[2019-04-12 03:24] pcherkasova opened #60 "Failed to setup to basic react app"
details: https://stackoverflow.com/questions/55643876/porting-app-from-react-azure-adb2c-to-react-adal

[2019-04-18 18:32] jfbloom22 commented on #55
I have wrestled with this quite a bit as well.  At first I misunderstood thinking adalFetch() was tied to fetch only, and since I am using Axios, I could not use it.  This left me struggling to handle the refresh token properly.  Now I understand that the "fetch" param is simply a callback.  I pass axios in like so:

note: I am writing in Typescript.

[code]

Then in my handleError function I am c

[2019-05-06 15:41] BoyoKendall opened #61 "Can't access my API after implementing React ADAL"
Hi,

I've implemented react-adal into my solution and it works for securing the application, however, I cannot access any of my API's after it's implemented.  I receive a 401 Unauthorised error.  I've looked at the examples/tutorials and sadly, they don't mention this.  I've seen that you can pass a token with the headers to show that you're logged in but, again, this isn't demonstrated only menti

[2019-05-06 19:54] GastonRosso opened #62 "Detect log out from another app"
Hi! How can we detect when a log out is performed from another application?

[2019-05-10 10:05] AWR14 commented on #34
@salvoravida i've tried `authContext.getCachedUser().roles;` and its doesn't return anything.
any examples on getting roles and groups?

[2019-05-10 11:04] AWR14 opened #63 "How to access groups and roles"
How do you access groups and roles?

[2019-05-10 11:05] AWR14 opened #64 "How to access groups and roles"
How do you access groups and roles?

[2019-05-10 13:06] AWR14 opened #65 "InvalidAuthenticationToken"
I'm logging into my app fine, i'm then using react-adal to get the token

[code]

i'm then doing a call to the `https://graph.microsoft.com/v1.0/me` and getting the error `InvalidAuthenticationToken`

[code]

Am i missing a step?

[2019-05-10 13:10] AWR14 opened #66 "InvalidAuthenticationToken Access token validation failure."
I'm logging into my app fine, i'm then using react-adal to get the token

[code]

i'm then doing a call to the `https://graph.microsoft.com/v1.0/me` and getting the error `InvalidAuthenticationToken`, when i console .log the token its not empty

[code]

Am i missing a step?

[2019-05-10 13:59] M0W93 opened #67 "Using react-adal with Server Side Rendering(Next.js)"
Hello,
actually im trying to use react-adal with Next.js, but because of the ´window´ reference in the library it isn't possible to use it with SSR.

Correct me if im wrong but isn't it insecure to deliver the whole adalConfig (with clientId) to the browser?

[2019-05-10 14:14] M0W93 commented on #66
So just to give you a quick example how to get the User Object from Graphs API with react-adal:

[code]

[2019-05-10 16:53] AWR14 commented on #66
Thanks @M0W93

I've tried that and it didn't work

i have this in my config

[code]

Everything works to login and can access the logged in user, just can't do a call to the graph api.

So using that code you pasted, gives me this error.

[code]

Any ideas what i'm doing wrong?

[2019-05-12 16:21] M0W93 commented on #66
Does it say Invalid Auth Toke altough you use the adalApiFetch method?
Maybe not enough permissions?

[2019-05-12 17:08] AWR14 commented on #66
@M0W93 yeah even using adalApiFetch

permissions i have are `Sign in and read user profile`, which has been working for ages. Then we wanted to add a feature that required user being in a certain group so have `Read all groups` enabled.
These are both delegated permissions on the App.

Is any other permission required?

[2019-05-13 08:50] AWR14 commented on #66
@M0W93 i'm getting the following error using

[code]
`{
  "error": {
    "code": "InvalidAuthenticationToken",
    "message": "Access token validation failure.",
    "innerError": {
      "request-id": "7a455d55-0b07-4310-ab39-7540115f71e2",
      "date": "2019-05-13T08:48:56"
    }
  }
}`

[2019-05-13 08:54] AWR14 commented on #66
@M0W93 When the user signs in i'm redirecting to `http://localhost:3000/auth/openid/return` if that helps

[2019-05-13 09:04] MaxiPigna commented on #55
I have the same problem, @salvoravida can you make your answer more clear, please?

[2019-05-17 12:31] #64 closed

[2019-05-17 12:33] #65 closed

[2019-05-17 12:34] #60 closed

[2019-05-17 12:35] salvoravida commented on #57
[code]
is just a wrapper that set the token for you and return "your favorite fetch" ,,  window.fetch axios ....

[2019-05-17 12:35] #57 closed

[2019-05-17 12:37] salvoravida commented on #67
no because clientId si just tell MS azure which AzureWebApp is going to login. there is no other way. authentication is from user pc to Azure not your server to Azure - it is a SPA application

[2019-05-17 12:39] salvoravida commented on #67
hum, if your full app is protected under login, it is unuseful to render before login.

anyway if your app has just only a private section, then probably i will update the lib with a check on window object

[2019-05-17 12:49] salvoravida commented on #67
@M0W93 try v0.4.23

please share feedback if it is ok on SSR

[2019-05-17 12:50] salvoravida commented on #63
have a look to official lib - react-adal is just a wrapper
https://github.com/AzureAD/azure-activedirectory-library-for-js

[2019-05-17 12:50] #63 closed

[2019-05-17 12:51] salvoravida commented on #56
can you show the error received in console?

[2019-05-17 12:55] salvoravida commented on #61
export const adalApiFetch = (fetch, url, options) =>
  adalFetch(authContext, adalConfig.endpoints.api, fetch, url, options);

use adalApiFetch with your favorite "fetch" in your api call.

[2019-05-17 12:55] #61 closed

[2019-05-17 13:12] #48 closed

[2019-05-17 13:26] M0W93 commented on #67
Thanks a lot for your effort.
I will try this out later and will give you a feedback.

[2019-05-20 06:59] M0W93 commented on #67
Hello @salvoravida,
i tried the new react-adal version but get the following error:
[code]

on react-adal/lib/adal.js:141

[2019-05-23 02:38] noobling commented on #66
Same issue here I get an access token but interestingly it doesn't authenticate with the graph microsoft endpoint. Could be something to do with `portal.azure` configuration, however the token I get from `msal js` is working ...

[2019-05-24 02:37] raghuvaran opened #68 "Resource cache is not cleared on different user login"
`react-adal` library caches a delegated token by resource name (`adal.access.token.keyhttps://organization.onmicrosoft.com/hello-world-app/`). Usually when using `adalFetch` the library acquires new resource/delegated token when it doesn't find one in the storage.

 When a different user logins in with same state i.e. by going back to the Microsoft login page using browser back button from a logge

[2019-05-27 06:42] shivshankar3578 opened #70 "Not working with file system uri"
As electron serve files via file:// protocol after building the app while Microsoft AAD auth does not allow file system uri so I'm getting error

because of invalid **redirectUri** (for me It's default window.location.href)
Need quick fix
Thanks in advance

[2019-05-27 12:50] bezchristo commented on #55
@jordynniara did you manage to get around this issue? I'm making use of adalFetch but I'm still getting a 401 after about an hour.

[2019-06-04 00:25] jordynniara commented on #55
I resorted to calling adalgetToken() before every api call. If you look at the code for it's just a promise that call authContext.getToken which will check the cache first and issue a new token if needed. It has been working for me.
I gave up on using adalfetch and just used Axios' request methods directly. I hope that helps.

[2019-06-07 08:49] zsid commented on #33
I am also having the same problem. @panuhorsmalahti when you redirect to `/access-denied`, are you also having protected routes with `react-adal` so that when it lands on `/access-denied` it doesn't redirect back to the Azure login page?

[2019-06-07 08:57] panuhorsmalahti commented on #33
The `history.push` is a page change inside a single-page app, so it's not going through the logic again - therefore no redirect back to Azure.

[2019-06-10 07:57] salvoravida commented on #68
@raghuvaran

Hi, thank you for your pr.
i suggest to try first to send a pr to official adal.js library (that react-adal use)
https://github.com/AzureAD/azure-activedirectory-library-for-js

otherwise you can check this branch
https://github.com/salvoravida/react-adal/tree/dev-invalidation

and if all is ok, we can release a new react-adal version with this mod
while waiting for official lib integ

[2019-06-10 08:00] salvoravida commented on #67
@M0W93 try 0.4.24
please share feedback if it is ok on SSR

[2019-06-11 17:30] harshsrivastava50896 commented on #1
can you show example for this login page

[2019-06-11 17:31] harshsrivastava50896 commented on #1
If I render the login page and in it I call "runwithadal" after authentication it does not load the next component

[2019-06-14 07:45] salvoravida commented on #1
see on readme.

[2019-06-18 05:34] divyan01 opened #73 "Getting error after logged in"
I am using react-adal, in it at my index page there is a login button after clicking on it user gets redirected to login and after successful login he should reach back to route '/user' but instead after successful login on reaching to '/user' the application shows nothing and a message is displayed in the log which is
message: "AADSTS500011: The resource principal named values was not found in th

[2019-06-18 08:09] salvoravida commented on #73
endpoints: {
    api: 'values',
  },

the endpoints.api must be an Azure ResourceId and the clientId (your app) must be authorized to that resource.

[2019-06-18 08:09] #73 closed

[2019-06-18 13:32] aman5898 commented on #73
I am not calling any API right now from this app

[2019-06-18 13:50] salvoravida commented on #73
react-adal is just a wrapper of official adal.js azure library.
so for Azure authorization  you have to look to azure guide or adal.js docs

https://github.com/AzureAD/azure-activedirectory-library-for-js

[2019-06-20 09:50] mbrevda commented on #70
you'll need to register that url in the azure portal. Looking for a better solution mysef!

[2019-06-21 06:35] aman5898 commented on #73
Yaa, got it thanx!

[2019-06-23 11:06] mbrevda commented on #54
Here is an example of how state would be expected to work:
[code]

[2019-06-23 12:09] mbrevda opened #74 "Allow alternate redirect url"
As a superset of #54, it would be useful to allow setting a dynamic redirect url, which may differ from the redirectUrl option.

Currently AAD is quite strict regarding redirect urls, allowing only the domains that exactly match what listed in the azure portal. This can sometimes cumbersome when the domain is dynamic, as for example with Netlify [deploy previews](https://www.netlify.com/blog/2016/

[2019-06-24 06:09] aman5898 commented on #66
Same here , getting the error
{
  "error": {
    "code": "InvalidAuthenticationToken",
    "message": "Access token validation failure. Invalid audience.",
    "innerError": {
      "request-id": "c0ad0d2a-b645-4c0d-800d-2d700c136f25",
      "date": "2019-06-24T06:06:46"
    }
  }
}

[2019-06-28 21:17] saostad commented on #67
Hi, I tried to use it in my sample app but I am not sure how to set it up?
I am using next.js@8.1.0 and react-adal@0.4.24
Error:
[code]

My Component Code:
[code]

[2019-07-04 20:52] isopterix opened #75 "How would you deal with configuration changes depending on user input (e.g. prompt method)?"
I have the following ADAL config:

[code]

Now I would like to change the **extraQueryParameter** based on user input... e.g. to switch from "prompt=login" to "prompt=none" to control if SSO is used or not...

How can I achieve that?

As the config is initialized already before react is initialized, how can I change that configuration afterwards?

[2019-07-08 18:16] saostad opened #76 "How to use it in SSR project with Next.js ?"
first of all thanks for the library.
I am planning to use this library to my Next.js app but I couldn't set it up based on current documentation.
can you please provide instruction on how to set up a simple server-side rendered app?
and also how to set up storage location? because as far as I know it should be on the cookie but cookie is not an option in adal.

[2019-07-15 14:56] saostad commented on #76
I finally find the solution and made a repository for others who are trying to do the same.

https://github.com/saostad/nextjs-office365-auth

[2019-07-26 12:23] rpkRED opened #78 "cancel request"
Is it possible to cancel adal request using actionController.abort()? And in what way can it be done?

[2019-07-28 16:08] vbutani opened #79 "Application loads twice on First Auth with Razzle SSR"
Thanks for the amazing library!

I am facing some issue while using it with Razzle SSR app.

I tried to put all the logic of client.js within runWithAdal() success callback, it didn't work as I think it needs to hydrate the component mentioned in client.js first.

Then I added runWithAdal() in Home component. it works fine, but the Application gets mounted/loaded twice on authentication. could you

[2019-07-29 19:50] BlackFenix2 commented on #76
ay yo @saostad , i checked out your repo and used it myself on a Gatsby project. the issue is if i use sessionStorage my site flashed 3 times before the login/callback functions finish executing.

i had to somewhat rewrite the runWithAdal function as a wrapperComponent to accomdiate SSR/Static site generating frameworks such as gatsby and nextjs. I can make a PR to Add an "AdalProvider" HOC. ill r

[2019-07-30 00:12] BlackFenix2 commented on #76
i made the PR here: https://github.com/salvoravida/react-adal/pull/80

changed a lot more than anticipated. but the local tests work.

[2019-07-30 08:46] ethubert commented on #38
I also have the same problem, cannot render components once I try to remove the global SSO. The author's answer doesn't make any sense, I'll try to find a way and post the solution here.

[2019-07-30 09:08] salvoravida commented on #79
look at readme example:

runwithAdal should start before any react app, otherwise you will have double app rendered even into iframe

import { runWithAdal } from 'react-adal';
import { authContext } from './adalConfig';

const DO_NOT_LOGIN = false;

runWithAdal(authContext, () => {

  // eslint-disable-next-line
  require('./indexApp.js');

},DO_NOT_LOGIN);

[2019-08-03 17:22] opticyclic opened #81 "Change README To Use Create React App"
The instructions in the README would be easier to follow if you based them on `create-react-app` and removed any unnecessary extras.

Right now you confuse the situation by adding `react-redux` and `store` as they don't seem to be necessary.

It would be clearer if you just showed how to do it from `create-react-app` as that is the easiest way to get started with a new react project.

e.g.

* npx

[2019-08-06 11:05] zsid opened #82 "Token refresh with adalGetToken"
Hi,

I have a problem with token refresh. I am trying to use `adalGetToken` to get the `token` because `adalGetToken` should renew the token if it has expired.

Looking at the interface:
[code]
I am struggling to pass the valid `resourceUrl`. Looking at the source code there is a function `AuthenticationContext.prototype._getNavigateUrl` that you call to create the `url` but it is not exposed in t

[2019-08-11 10:00] vbutani commented on #79
[code]

Sorry for the delayed response. I followed it by putting hydrate method call of Client.js file in success callback of runWithAdal(), but I guess due to SSR hydrating it is not loading app properly.(Client.js is the starting page for SSR based client application)

I observed that if I put logic of runWithAdal() using adal.js methods in index.html and load the client.js file on authenticatio

[2019-08-14 17:47] adback03 commented on #55
I'm also having this issue. Nothing I do seems to help...

@jordynniara can you post the sample code that you did to get things working correctly?

[2019-08-14 22:26] jordynniara commented on #55
I have a function I use to build the headers for each of my requests:
_Service.js_
[code]
_AdalConfig.js_
[code]

[2019-08-23 15:31] ZakKa89 commented on #50
@salvoravida Could you give a clearer example, I also have the same problem. My current reusable Axios request looks like this:

[code]

And this is what happens haha:

![image](https://user-images.githubusercontent.com/24491661/63604421-fa4e9e00-c5cb-11e9-9460-cced59c7d7c6.png)

[2019-08-23 16:32] ZakKa89 commented on #50
Figured it out. Should be:

[code]

The ' Gotcha'  is that you really just pass the axios function without any arguments in the first parameter of adalApiFetch...

[2019-08-25 23:55] TianyuHou opened #83 "Using withAdalLogin example, after login still redirect to the home page"
After trying the withAdalLogin example, I found it always redirect to the home page after the user successfully login, not redirect to the specific route in the <Rotue path="/onlyLoggedUsers">. I figured out it may because of the AAD can only redirect to base URL. I just wonder do we have any solutions to do so? like how to check if the user has login into AAD?

[2019-08-27 15:51] BlackFenix2 commented on #83
on your AdalConfig object you have to specify a postLogoutRedirectUri propeprty in order to redirect the user to their previous route.

i have a snippet below on how this is done, i included a window check for SSR

[code]

[2019-08-28 17:50] frankhale commented on #66
I've got the same issue as stated above by multiple users. I've noticed that minimal ADAL sample here: https://gist.github.com/psignoret/50e88652ae5cb6cc157c09857e3ba87f returns an authentication token that is more than 300 bytes larger and works for fetching data from graph.microsoft.com.

react-adal's authentication token is around 1330 bytes for me and the minimal ADAL example returns one 1600

[2019-08-28 18:06] frankhale commented on #66
I think I see where the misunderstanding is and I didn't see it until now. The auth token that is returned from logging in is not the same token you use to access graph.microsoft.com. Looks like you have to acquire another token to access graph.microsoft.com. Have a look on line 70 of this minimal ADAL example: https://gist.github.com/psignoret/50e88652ae5cb6cc157c09857e3ba87f

[2019-09-04 08:24] desh901 commented on #47
I'm still getting this issue on firefox. I managed to replicate on Firefox by opening a incognito window, logged in with the Azure AD account, and selected "Yes" to "Remember Me" screen. I've noticed that answering "No" to "Remember me" during the login phase does not redirect to /null. This happens only on Firefox, on Chrome everything is working fine.

[2019-09-06 10:00] mwlpeeters commented on #47
I also ran into this problem on Edge (the old one) version 42.17134, version 44.18362 seems not to have this problem however.

[2019-09-27 16:45] salvoravida commented on #78
what do you mean for adal request?
adalFetch?
it depends on your "fetch" , like window.fetch or axios or what you want.

feel free to reopen if it is not clear.

[2019-09-27 16:45] #78 closed

[2019-09-27 16:48] salvoravida commented on #79
in your case you should do

index.js
[code]

[2019-09-27 16:48] #79 closed

[2019-09-27 16:49] salvoravida commented on #70
@shivshankar3578 yes in azure AAD you have to register the correct return url as
@mbrevda

[2019-09-27 16:49] #70 closed

[2019-09-27 16:51] salvoravida commented on #62
can you explain better your use-case?

feel free to reopen

[2019-09-27 16:51] #62 closed

[2019-09-27 16:55] salvoravida commented on #66
export const adalFetchGraph = (fetch, url, options) =>
  adalFetch(authContext, 'https://graph.microsoft.com', fetch, url, options);

[2019-09-27 16:55] #66 closed

[2019-09-27 16:56] salvoravida commented on #81
yes you are right, i will rewrite readme asap.

thanks!

[2019-09-27 16:57] salvoravida commented on #82
is the guiId of your Azure api endpoint app

[2019-09-27 16:57] #82 closed

[2019-09-27 17:03] salvoravida commented on #54
i think you do not need state, becouse as you have an SPA after login you will be redirect on the same "index.js" entrypoint.

so you could save some value in localStorage, like currentPath and reload after to redirect on indexApp.js ...

[2019-09-27 17:06] #81 closed

[2019-09-27 17:07] #56 closed

[2019-09-27 17:15] salvoravida commented on #75
can you explain better your use case?

if it is the case, you have some public /route on your app, so your private app is under withAdalLogin(...)

on the public app, you have to change dinamically adalConfig, and re create the authContext...

[2019-09-27 17:18] #54 closed

[2019-09-27 17:21] salvoravida commented on #74
that's not a problem of react-adal

[2019-09-27 17:21] #74 closed

[2019-09-27 17:21] #75 closed

[2019-09-28 02:46] johnnyd710 opened #88 "Required to refresh parent window after logging in a pop up"
It is necessary to refresh the parent page after setting popUp to true in AuthenticationContext, otherwise the parent will be paused forever.

Is there any way to deal with this behavior?

[2019-09-28 09:14] salvoravida commented on #33
should be fixed in next release.

[2019-09-28 14:33] salvoravida commented on #76
duplicatied #67

[2019-09-28 14:33] #76 closed

[2019-09-28 14:36] salvoravida commented on #83
yes you have to set postLogoutRedirectUri in the config object

[2019-09-28 14:36] #83 closed

[2019-09-28 14:56] salvoravida commented on #33
@cadichris thanks for suggestion. it should be fixed on v0.5.0

let me know your feedback!

[2019-09-28 14:56] #33 closed

[2019-09-28 14:57] salvoravida commented on #67
@saostad  it should be fixed on v0.5.0

let me know your feedback!

[2019-09-28 14:57] #67 closed

[2019-09-28 14:57] salvoravida commented on #68
@raghuvaran thanks for suggestion. it should be fixed on v0.5.0

let me know your feedback!

[2019-09-28 14:57] #68 closed

[2019-09-30 12:53] CadiChris commented on #33
Hi @salvoravida . Thanks for the update!

I won't be able to give you immediate feedback, as updating the authentication library version in my product right now is not a move I'll make, I'm sorry.

I'm not really confortable with updating the core `adal` version in my current environment.

Based on the code changes I've read, I don't see why it would not work as expected 👍

[2019-10-02 12:23] #88 closed

[2019-10-02 12:28] salvoravida commented on #88
@johnnyd710 all OK now?

[2019-10-03 17:51] saostad opened #89 "how to set response redirect uri"
Hi,
with the default configuration, it uses current uri in the browser as response uri but if that page is different from what is in azure registration config it fails to login.
how to set response redirect uri?

[2019-10-08 21:20] LoganArnett opened #90 "E2E Testing a create-react-app with react-adal setup"
I am currently trying to setup End to End testing for a CRA with typescript. I have react-adal in place and working as expected but I am not sure of the best way to handle the basic login in order for the tests to run through the application. Would it make more sense to conditionally wrap the app with react-adal anytime the environment is not `test` and to remove that wrapper when testing and perf

[2019-10-09 07:33] salvoravida commented on #90
@LoganArnett if you use Cypress can have a look here
https://github.com/cypress-io/cypress/issues/1342

[2019-10-12 22:15] salvoravida commented on #89
adalConfig = {
    tenant: '..............7',
    clientId: '1.....................93e62',
    endpoints: {
        api: '140.......................e62',
    },
    postLogoutRedirectUri: window.location.origin,  <---- put your redirect uri
    cacheLocation: "localStorage",
};

[2019-10-12 22:15] #89 closed

[2019-10-14 11:56] KoushikGoramane commented on #32
Hello @GroFin , I followed your approach but I am not getting user details from graph call.

My code
const adalConfig = {
    tenant: '',
    clientId: '',
    redirectUri: '',
    endpoints: {
        graphApiUri: "https://graph.microsoft.com",
        api: ''
    },
    cacheLocation: 'localStorage',
    postLogoutRedirectUri:''
};

export const authContext = new AuthenticationContext(adalConfig

[2019-10-14 12:08] KoushikGoramane opened #91 "Graph Call is not happening with the generated idToken"
If I call the microsoft graph with the generated token it is showing error. How to call the graph api and get the logged in user details.

Error
{
  "error": {
    "code": "InvalidAuthenticationToken",
    "message": "Access token validation failure. Invalid audience.",
    "innerError": {
      "request-id": "df2ddcfa-a2d0-42e8-80b2-b8323888191d",
      "date": "2019-10-14T11:51:06"
    }
  }
}

[2019-10-17 12:47] Kumar-Ashwin-Hubert commented on #55
You are absolutely right @jordynniara . Even I was stuck at same issue. I was using getCachedToken and assumed that internally it would try to acquire a token silently; but clearly I was wrong.
For those of who are reading this now, use getToken as internally it retrieves from cache first for a valid token and acquires token only in case it's expired or going to expire.

[2019-11-06 10:20] ptallett opened #92 "Safari cannot open the page because the network connection was lost - PWA"
I have developed a small Progressive Web App (PWA) using Create React App and react-adal. My index.tsx is quite normal:

[code]
The app works fine on Windows and Android, both in a browser and installed as a PWA, but on iOS it only works in Safari, not when installed as a PWA.

On iPhone, I launch my PWA, it redirects to the Microsoft login page, I type my username & password, it does TFA and send

[2019-11-14 09:22] vudaysai commented on #90
Any luck, in implementing tests? I'm also facing issue while trying to implement tests using `jest` and `react-testing-library`

[2019-11-14 17:48] sagnikm95 opened #93 "Not able to set AAD token AUD field"
Hi, i am not able to to set the AUD field in the token I am acquiring.
When I decrypt the AAD token I am getting , the AUD is set to the client iD, whereas I was expecting it to be the uri I am specifying in the end points property.
As a result when I am using the acquired token to call the above endpoint I am getting a authorization error.

![image](https://user-images.githubusercontent.com/25024

[2019-11-20 00:52] justrhysism opened #94 "JSDoc for getCachedToken indicates only a string is returned"
The return type should be `string|null` - typings will need to be updated also.

https://github.com/salvoravida/react-adal/blob/d8596750a2cd5b5ad70d006a730bc2390e29b818/src/adal.js#L410

[2019-11-25 16:58] juagarciaga opened #95 "Is there any way to request token to access version 2.0?"
I need to setup manifest to return user email.
Any advices about how to do this?

[2019-11-29 14:26] J-theGit opened #96 "App is not rendered when user doesn't have First name and Last name (not required in AD)"
Hi,
I stumbled upon a bug where the app will not be rendered (blank white screen) when the user doesn't have First name and/or Last name setup in Azure AD.
In this scenario the Azure AD authentication succeeds, but react-adal will not render the app (the require below will not run)
[code]

This is my adal config:
[code]

[2019-12-04 20:52] adlele opened #97 "A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`"
Is there a plan to manage samesite cookies

[2019-12-06 04:12] ravibha opened #98 "Deep linking to dynamic url"
Hi,
I have setup authentication for my react app with react-adal. However, if a user directly goes to a page other than what's set in reply urls, I get the following message:
AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application.

Is there a way to solve this issue using react-adal? Please note, I cannot add each url of the website to the

[2019-12-06 15:07] salvoravida commented on #98
how hve you configured reply url?

[2019-12-06 18:35] ravibha commented on #98
The reply url is set in the Azure AD app that we use for authentication. I believe we cannot specify wildcards in the reply urls such as https://localhost/*. And I cannot have  https://localhost/orders/1, https://localhost/orders/2 etc. there since these are dynamic.

[2019-12-11 17:26] AndrewCraswell commented on #97
Can't speak to this library, since it's based on ADAL which is essentially deprecated, but the issue is known and the new MSAL library has an issue logged for it:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1037

Seems it's something that may be resolved upstream from both ADAL and MSAL, so my assumption would be when fixed, it should apply to both libraries without c

[2019-12-11 17:32] AndrewCraswell commented on #95
Don't think this is possible using ADAL, which this library uses. To interop with version 2.0 tokens, you will need to use MSAL library:
https://github.com/AzureAD/microsoft-authentication-library-for-js

`react-adal` is pretty much the gold standard for integrating React with ADAL, but there are similar libraries for React and MSAL. I currently maintain `react-aad-msal` which is unofficial and go

[2019-12-12 08:31] salvoravida commented on #97
it's a server side problem not client side
https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/

[2019-12-12 08:31] #97 closed

[2019-12-16 17:19] markinspencer commented on #98
I would also like to know if this can be done using react-adal, I am running into the same issue

[2019-12-16 18:07] markinspencer commented on #98
As a work around I replaced the BrowserRouter with a HashRouter and configured my reply url to be the base url of the app. Seems to have fixed the issue for now, but would be nice to be able to use the BrowserRouter.

[2020-01-02 23:00] felixanand opened #99 "CorrelationID property not exposed"
Hi, I am trying to retrieve the Correlation Id value from authentication context, but I am not able to access the property. Is it not made available or am I missing something? I need to have a new correlation id everytime a user has new session, for logging purpose.

[2020-01-04 11:18] Laksh05 opened #100 "Token renewal operation failed due to timeout"
After one hour when token gets expired I call api to get data. Iframe silently try to refresh the token. Api failes to get data and in console error comes "Token renewal operation failed due to timeout".

![image](https://user-images.githubusercontent.com/15712455/71764756-f33c8280-2f11-11ea-9a8c-b4f34346feb8.png)

[2020-01-04 13:49] Laksh05 commented on #100
Sorry for raising issue. I got solution checked adal.js in nodemodules(@property {number} loadFrameTimeout The number of milliseconds of inactivity before a token renewal response from AAD should be considered timed out.). Added loadFrameTimeout to 30 sec. Working fine now.

Thank you. Your library is great :)

[2020-01-04 13:49] #100 closed

[2020-01-06 07:25] erwin-d-austria opened #101 "how to access the refresh token if my app idle for about half an hour without refreshing the page."
I have an app that validates token from backend. If my app idle for about an hour, the validation trigger for valid token.. Is there a way to get a refresh token without refreshing the page?

[2020-01-08 17:13] Abe-Froman commented on #98
We're having the same issue, let's call it on Application A, using 0.4.24. Another of our applications, Application B, is using 0.4.18 and does not have this issue. I haven't yet tried downgrading App A to 0.4.18 nor have I tried the latest 0.5.0 release. As far as I can tell, App A & B are configured the same in AAD though A is hosted in AKS and B is hosted in an App Service.

I'll try both 0.4.1

[2020-01-08 17:42] Abe-Froman commented on #98
Neither downgrading to 0.4.18 nor upgrading to 0.5.0 resolved this issue for me. =(

[2020-01-08 18:23] Abe-Froman commented on #98
I've solved it for our case. The solution was to provide a `redirectUri` value in adalConfig which points to the root of our application. For example:

[code]

[2020-01-15 13:51] ergunp opened #102 "Unable to mock for test"
Hi,

I am trying to mock adalFetch but with no luck. I keep getting,
`{ message: 'User login is required', msg: 'login required' }`
here is what I have so far
[code]

Any help would be greatly appreciated.

[2020-01-17 18:05] Stacks-88 commented on #34
Anyone learn how to retrieve roles?  Is is an Azure permissions issue?

[2020-01-20 14:26] FernandoKGA commented on #95
I wish I knew this before integrating it into the current project that I'm working on...

[2020-01-21 11:03] J-theGit commented on #102
Hi @ergunp
You're likely missing one of the functions that you need to mock, however that's just a guess
Here's the mock I've generated to be able to test. `react-adal.js` file in`/src/__mocks__`dir.

I've set the mockup Azure AD response in mockupPayload

[code]

[2020-01-21 11:05] ergunp commented on #102
@J-theGit Thanks I'll give this a shot

[2020-01-23 14:44] ergunp commented on #102
Actually found a better way
[code]

[2020-01-27 13:46] mudasar commented on #36
it is not working properly just redirects back to the application with logged in state. even clearing the application local storage doesn't logout completely? any help?

[2020-01-27 13:47] mudasar commented on #91
you have to get an auth token using the Api Fetch method and than use that token to make a graph api call it'll work.
(in the auth token request you need to ask for scopes )

[2020-02-02 13:30] mdmoin7 opened #103 "perform login on request"
how can i implement login at some specific point, the current implementation forces the user to login as soon as you launch the app or open the home page, what if the home page isn't protected page is login a mandate there. How to avoid this.

[2020-02-02 21:35] juagarciaga commented on #103
If you are using react router, you can define which pages are public and which pages will be protected. Take a look https://reacttraining.com/react-router/web/example/auth-workflow

[2020-02-03 01:48] mdmoin7 commented on #103
I have already done that as per the readme you have provided an hoc for the same. But the problem is in index.ts we create the authentication context so as soon as app loads it redirects to the login page which I do not want, it should preferably redirect only on protected pages rather than just making the user login on first load.

[2020-02-03 01:49] mdmoin7 commented on #103
In the index.ts example you have a constant variable which is a Boolean if I try changing that value it never asks for login even protected pages are accessible without login than.

[2020-02-06 01:22] Deurnieur opened #105 "ADFS Claims"
Hi,
  How can I get claims from ADFS?

Thanks

[2020-02-19 18:04] krytical commented on #105
Wondering the same as well.

[2020-02-23 05:46] krytical commented on #105
According to the following:

1. https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/ad-fs-openid-connect-oauth-concepts
2. https://stackoverflow.com/questions/56993809/active-directory-federation-service-response-mode-form-post-trying-to-post-to-re
3. https://stackoverflow.com/questions/51860410/how-to-handle-post-response-from-external-auth-application-in-react-router/51865

[2020-02-26 18:49] #91 closed

[2020-02-27 07:00] davibe opened #107 "serverside user validation"
When the user  performs some api call (rest / socket.io) from the page to my server i need to check the user is properly logged in. This check must be done on the server side before taking any action, otherwise a malicious user could try to use the apis directly. What is the best way to do this ? Thx

[2020-03-05 19:10] mazer-rakham commented on #98
Just a little FYI if you used create-react-app you can write your code as follows
[code]

[2020-03-12 19:35] LoganArnett opened #108 "Listen for Login Success"
Is there any way to listen for a login success event? I would like to trigger an interaction on login of the user and was wondering how to accomplish this?

[2020-03-13 18:22] LoganArnett commented on #108
Found a way around this with the `callback` method on the config object, don't see it in the docs but its in the source and works well

[2020-03-13 18:22] #108 closed

[2020-03-21 17:14] iotarchitect commented on #35
@salvoravida having this same issue. Trying to embed a web page with react-adal inside another web page using an iframe. Can you suggest a work around?

[2020-03-25 08:13] qt-pixels commented on #101
*Bump!*

[2020-04-23 14:26] franva opened #110 "Cannot sign in users"
![image](https://user-images.githubusercontent.com/5151146/80110661-42421c80-85c2-11ea-90b1-6ad5cf351250.png)

I have set up both the frontend and backend with my configurations.
Still I see this error.

More details:
https://stackoverflow.com/questions/61288172/retrieve-emails-on-behalf-of-user-flow-from-hotmail-using-microsoft-identity-pla?noredirect=1#comment108579631_61288172

[2020-05-20 21:44] psazop commented on #36
I have exactly the same problem, could you solve it?

[2020-05-26 08:25] jka1010 commented on #101
any updates on this issue ?  pl share

[2020-06-25 07:34] saikumarkunchaa commented on #101
If you find any solution , please comment here @erwin-d-austria

[2020-07-09 02:08] linchen-myob commented on #55
I am using react-adal with adal.js@1.0.18. and fix the issue, hope it can help you
My code is
[code]
after one hour, access token expire, when if refresh token, will 302 then got "renew token error", I dived into adal.js and found this https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/dev/lib/adal.js#L749 acquireTokenRedirect will call global "callback" function, which default i

[2020-07-10 08:53] linchen2chris commented on #100
@Laksh05  may I know how you config loadFrameTimeout to 30 sec?
is
[code]
Thanks

[2020-07-10 08:57] Laksh05 commented on #100
@linchen2chris  Yes correct for 30 seconds you can write it as 30000.

[2020-07-14 00:18] linchen-myob commented on #100
@Laksh05 after I set loadFrameTimeout, and after 30s it fails, I got error like "Load denied by X-Frame-Options: “DENY” from ", did you have the error as well?

[2020-07-14 06:39] Laksh05 commented on #100
@linchen-myob  Yes I also got. You have to mention X-frame-options="SAMEORIGIN" in web config.

[2020-07-14 09:24] linchen-myob commented on #100
Hi @Laksh05 could you explain more, how config that? in my backend or my chrome?

[2020-07-14 18:06] TomWrd commented on #98
Hello all,

`import { AuthenticationContext, adalFetch, withAdalLogin } from 'react-adal';

export const adalConfig = {
  tenant: 'tenant-id',
  clientId: 'client-id',
  endpoints: {
    api: 'https://graph.microsoft.com',
  },
  cacheLocation: 'localStorage',
//Just testing locally for time being
  redirectUri: "http://localhost:8080"
};
export const authContext = new AuthenticationContext(adalCo

[2020-07-14 21:36] Laksh05 commented on #100
Hi @linchen-myob  In backend where you have deployed application. You need to change custom header X-Frame-Options. Mention X-frame-options="SAMEORIGIN"

[2020-08-05 17:59] aamay001 commented on #101
_Bump!_

[2020-08-05 18:18] aamay001 commented on #101
There's a method named `adalGetToken` in the library. You can call it to renew the token from anywhere. @jka1010 @saikumarkunchaa @qt-pixels @erwin-d-austria

[2020-08-24 16:00] opticyclic opened #113 "Microsoft Is Retiring ADAL For MSAL"
This post says that Microsoft is retiring ADAL
https://techcommunity.microsoft.com/t5/azure-active-directory-identity/update-your-applications-to-use-microsoft-authentication-library/ba-p/1257363

Will this library continue to work with their new MSAL scheme or is that the job of a different project?

[2020-08-30 07:52] salvoravida commented on #113
yes will be upgraded in react adal 2.0

[2020-08-30 07:52] #113 closed

[2020-10-22 12:54] foxxor commented on #101
For anyone in this same situation, as @aamay001 mentioned there's an undocumented method `adalGetToken(AuthenticationContext, resource)` you can use to silently refresh the token. Given that the library doesn't refresh the token automatically, and needs to be manually handled.

However if the user is not logged in anymore or the token can't be refreshed, it will throw an error with a `msg: 'login_

[2020-10-26 17:58] Senelith commented on #103
@mdmoin7  were you able to make this work ? If so can you please share it. I'm facing the same problem.

cc: @salvoravida

[2020-12-08 05:22] rmlevangelio commented on #47
use react-adal@0.4.24. This works for me. When I update to 5, the issue still exists.

[2020-12-31 08:50] mackankowski opened #116 "[Typescript 4] TypeError: Cannot read property 'toLowerCase' of undefined"
Hi all,

I'm struggling with bumping up my application using new React 17 and Typescript 4 and still, one issue appears after build:

[code]

Any ideas on that?

Best regards and Happy New Year! 🥳

Maciej

---

**Update # 1**

My temporary workaround but not a final solution:

![image](https://user-images.githubusercontent.com/9574907/103413120-7e2d7880-4b78-11eb-9b0d-101cc872951e.png)

---

**Upd

[2021-01-04 14:44] mackankowski opened #117 "Source code differences between npmjs.com and github.com"
Hi @salvoravida,

I can see that the codebase fetched from https://www.npmjs.com/package/react-adal (by `npm i`) is different than in this repository - as well, library versions are not the same. Can you update the Github repository, Release section, and version in the `package.json`? I'd like to put a new PR with code improvement but not it's a little bit messy (I have also build issues with the

[2021-01-04 16:13] mackankowski commented on #116
#118

[2021-01-05 14:48] salvoravida commented on #117
done

[2021-01-05 14:48] #117 closed

[2021-01-05 14:53] #116 closed

[2021-01-05 14:53] salvoravida commented on #116
0.5.2

[2021-02-18 10:36] gschauhan commented on #36
Same issue. Any updates?

[2021-04-14 02:36] FizzBuzz791 opened #119 "React-Dom dependency requires SharedArrayBuffer which will require cross-origin isolation"
See this issue for more information; https://github.com/facebook/react/issues/20829

The tl;dr is that people could start running into problems quite soon (May 2021!). This has been fixed in React 17+ and upgrading the react-dom dependency of this package, should also resolve this issue.

[2021-04-18 16:48] salvoravida commented on #119
react-dom is not needed for react-adal. it's just a dev dep

[2021-04-18 16:48] #119 closed

[2021-04-20 02:22] FizzBuzz791 commented on #119
@salvoravida - I think this call stack indicates otherwise...

![image](https://user-images.githubusercontent.com/2747764/115327897-57945b80-a1c2-11eb-9a7a-e17a7d352bff.png)

[2021-06-04 18:46] mattcasey commented on #35
I'm trying to use this inside a Teams Tab which uses iframes. I'll admit the authentication flow for Teams is confusing to say the least, but I thought that was a primary use case for this library.

[2021-08-25 10:29] arun7sun opened #124 "Error Page not rendering"
Recently, I am facing an issue with Custom error page navigation. ADAL is not returning any error message(mostly null or empty string), this leads to Microsoft error page as it redirects/calls authContext login function again(managed in  React-adal.js under lib). Can I expect any fixes in near future or would you like to allow me to add fix for the same.

[2022-01-26 19:50] krytical commented on #102
I'm currently stuck on the same error message using testing-library. How did you resolve this issue?

[2022-05-19 08:11] jorgen-kaxig commented on #78
I need to do this. I use axios. I know about the "cancel token" as described in this [Medium article](https://medium.datadriveninvestor.com/aborting-cancelling-requests-with-fetch-or-axios-db2e93825a36).
But how to implement this with react-adal is not clear.
I need this to avoid the react error "Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memo

[2022-05-19 08:12] jorgen-kaxig opened #126 "Cancel request using Axios"
I need this to avoid the react error "Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in a useEffect cleanup function."

I know about the "cancel token" as described in this [Medium article](https://medium.datadriveninvestor.com/aborting-cancelling-requests-wit

[2022-05-19 09:32] jordan-kaxig commented on #126
I think I've managed by passing a using a [AbortController](https://axios-http.com/docs/cancellation) like this:
[code]
Then I can pass a signal in the options object like so:
[code]
And then I can abort like this:
[code]

[2022-06-15 09:54] cappe89 opened #127 "add support to react 18"
npm ERR! Found: react@18.2.0
npm ERR! node_modules/react
npm ERR!   react@"^18.1.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^15.0.0 || ^16.0.0 || ^17.0.0" from react-adal@0.5.2
npm ERR! node_modules/react-adal
npm ERR!   react-adal@"*" from the root project